<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICompilerService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICompilerService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8000/CompilerService/CompilerService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICompilerService"
                contract="HTTP.ICompilerService" name="NetTcpBinding_ICompilerService">
                <identity>
                    <userPrincipalName value="LUKHI\DARSHAN LUKHI" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8888/CompilerService/CompilerService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompilerService"
                contract="HTTP.ICompilerService" name="BasicHttpBinding_ICompilerService" />
        </client>
    </system.serviceModel>
</configuration>