<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="CompilerWebService.CompilerService" behaviorConfiguration="CompilerServiceBehavior">
        <endpoint address="CompilerService" binding="netTcpBinding" contract="CompilerWebService.ICompilerService"/>
        <endpoint address="CompilerService" binding="basicHttpBinding" contract="CompilerWebService.ICompilerService" />
        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CompilerServiceBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>